body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px !important;
  color: rgb(1, 1, 15) !important;
  text-decoration: none;
  list-style: none;
  line-height: 2;
}

form .input-group-text {
  color: white;
  background: black !important;
  border: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito', sans-serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 7px;
  text-decoration: none;
  color: rgb(0, 0, 0) !important;
}

.navigation,
.dropdown-menu {
  background: rgb(45, 171, 255) !important;
  color: white;
}

.logo {
  line-height: 1;
}
.logo a {
  color: white !important;
}
.logo p {
  font-size: 14px;
}

.navbar-nav a {
  font-size: 19px !important;
  color: white !important;
  font-weight: bolder;
  transition: all 0.2s;
}

.navbar-nav a:hover {
  font-size: 20px !important;
  background: rgb(63, 176, 252) !important;
}

.form-media a {
  text-decoration: none !important;
  color: white;
}

/* SHOWCASE */

.showcase img {
  max-height: 570px;
}

.approach {
  background: mintcream;
}

/* Stories */

.stories {
  background: rgb(245, 250, 252);
}

#more,
#more2,
#more3 {
  display: none;
}

.btn-more {
  color: white;
  background-color: rgb(45, 171, 255) !important;
  border: none;
  border-radius: 5px;
  display: inline-block;
}

.btn-more:focus {
  outline: none;
}

/* FOOTER */

#footer {
  background: rgb(10, 35, 44) !important;
  overflow: hidden;
}

footer .social-media a {
  color: white;
}

#newsletter button {
  background: rgb(45, 171, 255) !important;
  border: none;
  color: white;
  font-weight: bolder;
}

.copyright {
  color: white;
  padding: 5px;
  background: rgb(13, 45, 56) !important;
}
